
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand" href="/"><h1><b>Daily Journal</b></h1></a>
      </div>
        <ul class="navbar navbar-expand navbar-light bg-light">

          <!-- 6 -->
          <li class="nav-item nav-link active" id="home"><a href="/"><h4><b> HOME </b></h4></a></li>
          <li  class="nav-item nav-link active"id="about"><a href="/about"><h4><b> ABOUT US </b></h4></a></a></li>
          <li class="nav-item nav-link active" id="contact"><a href="/contact"><h4><b> CONTACT </b></h4></a></li>
          <li class="nav-item nav-link active" id="compose"><a href="/compose"><h4><b> COMPOSE </b></h4></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
