<%- include('partials/header'); -%>
<div class="">
  <label for="composetitle">
<h1 id= "composetitle">Compose</h1>
  </label>





  <form class="item" action="/compose" method="post">


    <div class="form-group">
      <label>
        <h4><b>Title</b></h4>
      </label>
      <input class="form-control form-control-lg" type="text" name="newItem" placeholder="Add New İtem" autocomplete="off">

  <label for="exampleFormControlTextarea1">
        <h4><b>Post</b></h4>
      </label>
      <textarea name="postBody" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
    </div>



    <button class="btn btn-primary" type="submit" name="button">Publish</button>

  </form>

  <b></b>
</div>



<%- include('partials/footer'); -%>
